* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white
}

section {
    padding-top: 5vh;
    padding-left: 5vh;
    padding-bottom: 2vh;
}

h1 {
    padding: 1.5vh;
}

p {
    margin-bottom: 10px;
}

.titulo {
    background-color: rgb(229, 216, 250);
    padding: 3vh;
    display: block;
    text-align: center;
}

.contatos {
    background-color: rgb(229, 216, 250);
}

.experiencia {
    background-color: rgb(229, 216, 250);
}