<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Curriculo </title>
    <link rel="stylesheet" href="app.component.css">
</head>

<body>

    <div class="titulo">
        <h1> CURRICULO </h1>
    </div>

    <section class="dados">
        <h1> Dados </h1>
        
        <p> - Nome: Eric</p>
        <p> - Idade: 18</p>
        <p> - Naturalidade: Niterói, RJ</p>
    </section>

    <section class="contatos">
        <h1> Contatos </h1>

        <p> - Email: EricDBZSGT@hotmail.com </p>
        <p> - Email alternativo: eric.filgueiras@gmail.com </p>
        <p> - Telefone: 21 97288-6586 </p>
        <p>  </p>
    </section>

    <section class="objetivo">
        <h1> Objetivo </h1>

        <p> - Me tornar um programador dedicado, com o hobby para desenvolvimento de jogos. </p>
    </section>

    <section class="experiencia">
        <h1> Experiência </h1>

        <p> - PHP; </p>
        <p> - MySQL; </p>
        <p> - Java; </p>
        <p> - Javascript; </p>
        <p> - Typescript; </p>
    </section>

</body>

</html> 